:root {
    /* dark.css */ 
    --font-color: #eee;
    --bg-color: #212121;

    --link-color:#dc3545;
    --link-state-color:#dc3545;
    --link-state-border-color: #dc3545;

    --thead-bg-color: #343a40;
    --table-border-color: lightgrey;

    --pre-color: #333;
    --pre-bg-color: #f1f1f1;

    --bq-color: #ccc;
    --hr-color: #333;

    --pagination-bg-color: #373737;
    --pagination-link-color: #b6b6b6;

    --post-info-color: grey;

    --switcher-color: #333;
    --switcher-bg-color: #fff;
}
